HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.local
*.env
docker-compose.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### System Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log
*.gz

### Setup Files ###
*.local.bat
*.local.sh

### Database ###
data/

### Report Files ###
report/**/*.md
report/**/*.png
